/* fonts */
.font-cormorant {
  font-family: "Cormorant Garamond", serif;
}

.font-corinthia {
  font-family: "Corinthia", cursive;
}

/* colors */
:root {
  --linen: #faf1e8ff;
}

.tan {
  color: #d2b094ff;
}

.linen {
  color: #faf1e8ff;
}

.pale-dogwood {
  color: #ebcec6ff;
}

.champagne-pink {
  color: #e6d7d0ff;
}

.seashell {
  color: #fbf1e9ff;
}

body {
  background-color: #faf1e8ff;
}

.bg-linen {
  background-color: var(--linen);
}

.icon-class {
  width: 1.5rem;
  height: 1.5rem;
}
