/* fonts - local definitions in fonts folder */
/* corinthia-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Corinthia";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/corinthia-v13-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("./fonts/corinthia-v13-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* cormorant-garamond-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/cormorant-garamond-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("./fonts/cormorant-garamond-v20-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* cormorant-garamond-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/cormorant-garamond-v20-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("./fonts/cormorant-garamond-v20-latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* required for compiling tailwind styles" */
@import "tailwindcss";

/* font classes to use */

.font-cormorant {
  font-family: "Cormorant Garamond", serif;
}

.font-corinthia {
  font-family: "Corinthia", cursive;
}

/* colors */
:root {
  --linen: #faf1e8ff;
}

.tan {
  color: #d2b094ff;
}

.linen {
  color: #faf1e8ff;
}

.pale-dogwood {
  color: #ebcec6ff;
}

.champagne-pink {
  color: #e6d7d0ff;
}

.seashell {
  color: #fbf1e9ff;
}

body {
  background-color: #faf1e8ff;
}

.bg-linen {
  background-color: var(--linen);
}

.icon-class {
  width: 1.5rem;
  height: 1.5rem;
}
